html, body {
    background-color: #740001;
    color: black;
    font-family: "Old English Text MT";
    font-size: 80px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000000;
    color: #fff4e6;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    height: 105px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#movies {
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 100px;
    font-family: "Chamberi Super Display";
}

section#movies div {
    width: 133px;
    height: 198px;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid #000000;
}

footer {
    /* Your footer styles here */
}
